
.Materials3{
    max-width:100%;
    height: 90vh;
   
    margin-top: 15em;
}

.material3_heading h4{
    color: orange;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

.material3_heading h1{
    font-family: 'gilroy-bold';

}

.material3_heading{
    text-align: center;
    margin-bottom: 3em;
    line-height: 2.5rem;
}



.materialcard{
    background-image: url(https://imgs.search.brave.com/P9opzfvffUgJri32SrLB5YSy5S70oIT3-arNb_3bsOI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMjE1/NTIwMTIyNS92ZWN0/b3IvcHJvZmlsZS12/aWV3LW9mLWEtbWFu/LXdpdGgtYS1idXNp/bmVzc21hbi1zaXR0/aW5nLWluc2lkZS1o/aXMtaGVhZC10aGlu/a2luZy5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9ekJPb2Vo/N0VqNVg4YlFWVHZI/dzdielVoaG0zT1lJ/ajRqYXRLdEJud3JU/bz0);
    border-radius: 15px;
    width: 350px;
    height: 450px;
    position: relative;
    flex:0 0 auto;
    scroll-snap-align: start;
}

.card{
    width: 75%;
    display: flex;
    margin: 0 auto; /* centers the .card container by giving auto margin to right and left */
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    gap: 30px;
}

.materialdiv{
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);/*moves the .material div to left side by half of its width*/
    padding: 25px;
    width: 90%;
    background-color: white;
    border-radius: 15px;
}
