.material2{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content  imgs";
    margin-top: 20rem;
}


.materialimages{
   
    grid-area: imgs;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "img1 . ."
    "img1 img3 img3"
    "img2 img3 img3"
    "img2 img3 img3"
    "img2 img3 img3"
    "img2 . .";
    gap: 30px;
}


.img1{
    grid-area: img1;
    
   
}

.img2{
    grid-area: img2;
   
   
}

.img3{
    grid-area: img3;
    
}

.materialimages img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 5px 15px 15px 10px rgba(0, 0, 0, 0.3);
    
}


.materialcontent{
    
    grid-area: content;
    margin-left: 10px;
    padding-left: 25px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.materialcontent h3{
    color: orange;
    font-size: 1.2rem;
    font-family: 'gilroy-regular';
    font-weight: 600;
    letter-spacing: 3px;
}

.materialcontent h1{
    font-size: 2.5rem;
    font-family: 'gilroy-bold';
    font-weight: 900;
}

.materialcontent p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

.materialcontent h4{
    color: orange;
    font-family: 'gilroy-regular';
    font-weight: 600;
    font-size: 0.9rem;
}
